# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# ----------------------------
# dbt
# ----------------------------
target/
dbt_packages/
logs/

# ----------------------------
# OS / Editor
# ----------------------------
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# ----------------------------
# Jupyter / Notebooks
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Misc
# ----------------------------
*.log
