# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# CSV, Excel, output files
*.csv
*.xlsx

# dbt artifacts
target/
dbt_modules/
